aenum==2.2.3
beautifulsoup4==4.8.2
dbf==0.98.3
dbfread==2.0.7
dnspython==1.16.0
entrypoints==0.3
flake8==3.7.9
mariadb==1.0.4
mccabe==0.6.1
mysql-connector-python==8.0.19
numpy==1.18.1
pandas==1.0.1
protobuf==3.6.1
psycopg2==2.8.4
pycodestyle==2.5.0
pyflakes==2.1.1
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.4
six==1.14.0
soupsieve==1.9.5
xlrd==1.2.0
